*.iml
/deploy
web/overlays/
.DS_Store
target/
.idea/
*.iws
*.ipr
bin/
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
.classpath
.settings/
.loadpath
rebel.xml
#client
node_modules
dist/
npm-debug.log
coverage
disconf/
**/shutter
